schematrons/include/jeuxDeValeurs/SDM-MR_2024.01/JDV_IssueGrossesse_SDMMR.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_IssueGrossesse_SDMMR" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_IssueGrossesse"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/organizer/component/organizer/component/observation/value"/>
    <param name="xpath_elt" value="cda:component/cda:observation[cda:code/@code='63893-2']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
