schematrons/include/jeuxDeValeurs/IMG-DA-IMG_2024.01/JDV_LateraliteTechniqueImagerie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_LateraliteTechniqueImagerie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_LateraliteTechniqueImagerie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/targetSiteCode/qualifier/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.1.20.3.1']/cda:targetSiteCode/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern> 