schematrons/include/jeuxDeValeurs/_OLD/CI-SIS_IMG-DA-IMG_2022.01/JDV_LateraliteTechniqueImagerie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_LateraliteTechniqueImagerie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_LateraliteTechniqueImagerie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/targetSiteCode/qualifier/value"/>
    <param name="xpath_elt" value="cda:procedure[cda:templateId/@root='1.2.250.1.213.1.1.3.62']/cda:targetSiteCode/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern> 