schematrons/include/jeuxDeValeurs/_OLD/CI-SIS_IMG-DA-IMG_2022.01/JDV_modalite-demandeActeImagerie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_modalite-demandeActeImagerie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_modalite-demandeActeImagerie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/code/translation"/>
    <param name="xpath_elt" value="cda:procedure[cda:templateId/@root='1.2.250.1.213.1.1.3.62']/cda:code/cda:translation"/>
    <param name="nullFlavor" value="0"/>
</pattern> 