schematrons/include/jeuxDeValeurs/IMG-DA-IMG_2022.01/JDV_LocalisationAnatomique-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_LocalisationAnatomique-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_LocalisationAnatomique-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/targetSiteCode"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.2.250.1.213.1.1.3.27.2']/cda:targetSiteCode"/>
    <param name="nullFlavor" value="0"/>
</pattern> 