schematrons/include/jeuxDeValeurs/CANCER-CR-ACP-MELANOME_2021.01/JDV_StatutR_Melanome_CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_StatutR_Melanome_CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_StatutR_Melanome_CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/organizer/component/observation/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.8.1.4.9' 
        and cda:code/@code='31210-8']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>

