schematrons/include/jeuxDeValeurs/LDL-EES_2022.01/JDV_RouteofAdministration-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_RouteofAdministration-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_RouteofAdministration-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/substanceAdministration/routeCode"/>
    <param name="xpath_elt" value="cda:substanceAdministration[cda:templateId/@root='1.2.250.1.213.1.1.3.42']/cda:routeCode"/>
    <param name="nullFlavor" value="0"/>
</pattern> 