schematrons/include/jeuxDeValeurs/JDV_SocialHistoryCodes.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_SocialHistoryCodes" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_SocialHistoryCodes"/>
    <param name="vue_elt" value="observation[templateId/@root='1.2.250.1.213.1.1.3.52']/code"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.2.250.1.213.1.1.3.52']/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern> 

