schematrons/include/jeuxDeValeurs/IMG-CR-IMG_2024.01/JDV_LocalisationAnatomiqueQuantite-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_LocalisationAnatomiqueQuantite-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_LocalisationAnatomiqueQuantite-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/targetSiteCode"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.2.250.1.213.1.1.3.154']/cda:targetSiteCode"/>
    <param name="nullFlavor" value="0"/>
</pattern>
