schematrons/include/jeuxDeValeurs/IMG-CR-IMG_2024.01/JDV_ModaliteImagerie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ModaliteImagerie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ModaliteImagerie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/entry/act/entryRelationship/act/code/qualifier/value"/>
    <param name="xpath_elt" value="//cda:act[cda:templateId/@root='1.2.250.1.213.1.1.3.156']/cda:code[@code='113015']/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern> 