schematrons/include/jeuxDeValeurs/_OLD/CI-SIS_IMG-CR-IMG_2022.01/JDV_ModaliteImagerieDocumentationOf-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ModaliteImagerieDocumentationOf-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ModaliteImagerieDocumentationOf-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/documentationOf/serviceEvent/code/translation"/>
    <param name="xpath_elt" value="cda:documentationOf/cda:serviceEvent/cda:code/cda:translation[@codeSystem='1.2.840.10008.2.16.4']"/>
    <param name="nullFlavor" value="0"/>
</pattern> 