schematrons/include/jeuxDeValeurs/_OLD/CANCER-D2LM-FIN_1.1.13/JDV_TypeLecture-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeLecture-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeLecture-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:entry/cda:observation[(cda:code/@code='MED-008')]/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
