schematrons/include/jeuxDeValeurs/AVC-EUNV_2022.01/JDV_ComplicationNeurologique-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Aggravation neurologique
    JDV_ComplicationNeurologique-CISIS.sch :
    Contenu :
    Paramètres d'appel : Néant 
    Historique :
        25/10/2013 : CRI : Création
        17/01/18 : NMA : Prise en compte du NullFlavor dans le JDV
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ComplicationNeurologique-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ComplicationNeurologique-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/entryRelationship/observation/code"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation[cda:code/@code='MED-503']/cda:entryRelationship/cda:observation/cda:code"/>
    <param name="nullFlavor" value="1"/>
</pattern>   


