schematrons/include/jeuxDeValeurs/OBP-SNM_2023.01/JDV_ModeDebutTravail_OBP-SNM.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- JDV_ModeDebutTravail_OBP-SNM.sch :
    
    Historique :
        25/10/2022  : Version 2022.01 (Création)
        -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ModeDebutTravail_OBP-SNM" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ModeDebutTravail_OBP-SNM" />
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/code/qualifier/value" />
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:entry/cda:procedure[cda:code/@code='73813-8']/cda:code/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
    
</pattern> 




