schematrons/include/jeuxDeValeurs/IMG-CR-IMG_2022.01/JDV_QuantiteExpositionRayonnements-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_QuantiteExpositionRayonnements-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_QuantiteExpositionRayonnements-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/code"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.2.250.1.213.1.1.3.154']/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern> 