schematrons/include/jeuxDeValeurs/IMG-CR-IMG_2022.01/JDV_RegionAnatomique-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_RegionAnatomique-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_RegionAnatomique-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/documentationOf/serviceEvent/code/translation"/>
    <param name="xpath_elt" value="cda:documentationOf/cda:serviceEvent/cda:code/cda:translation[cda:qualifier/cda:name/@code='39111-0']"/>
    <param name="nullFlavor" value="0"/>
</pattern> 