schematrons/include/jeuxDeValeurs/BIO-CR-BIO_2023.01/JDV_LocalisationPrelevement_CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_LocalisationPrelevement_CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_LocalisationPrelevement_CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/act/entryRelationship/procedure/targetSiteCode"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:act/cda:entryRelationship/cda:procedure[cda:code/@code='0027']/cda:targetSiteCode"/>
    <param name="nullFlavor" value="0"/>
</pattern> 
